#about {
    display: grid;
    place-items: center;
    padding: 20px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 75%;
    align-items: center;
}

.introPicture {
    display: flex;
    justify-content: center;
}

.introPicture > img {
    width: 100%;
    max-width: 400px;
    border-radius: 55px;
    height: auto;
    transform: scaleX(-1);
}

.introText {
    text-align: justify;
}

.introText>p{
    margin-bottom: 10px;
}

.introButton{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#about a:hover{
    background-color: #213555;
}
#about a{
    background-color: #3E5879;
    width: fit-content;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .intro {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .introText {
        text-align: center;
    }

    .introText > p {
        text-align: center;
    }
}