#navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#navbar.hidden {
    transform: translateY(-100%);
}

#navbar.visible {
    transform: translateY(0);
}



.navbar-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbar-link:hover {
    text-decoration: underline;
}

.menu-items {
    display: flex;
}

.menu-button {
    display: none;
}

.menuBurger {
    display: none;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .menu-items {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .menuBurger {
        display: block;
    }
}