/* src/components/photoGallery/PhotoGallery.css */
.galleryContainer {
    width: 100%;
}

.galleryContainer h2 {
    margin-bottom: 1rem;
}

.galleryContainer h3 {
    text-align: justify;
    margin-bottom: 1.5rem;
}

.imageListContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}