.ProjectGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding: 2em;
    width: auto;
    justify-content: center;
}

.projectsFilter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.projectsFilter .MuiChip-root {
    font-size: 1rem;
    height: 40px;
    padding: 0 10px;
}

@media screen and (max-width: 600px) {
    .projectsFilter .MuiChip-root {
        font-size: 0.8rem;
        height: 32px;
        padding: 0 6px;
    }

    .projectsFilter .MuiChip-icon {
        font-size: 1rem;
    }

    .projectsFilter .MuiStack-root {
        gap: 8px !important;
    }

    .ProjectGallery {
        gap: 15px;
    }
}

