.ProjectGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding: 2em;
    width: auto;
    justify-content: center;
}

.projectsFilter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}