.projectCard{
    margin-bottom : 10%;
    width: fit-content;
}
.projectCard>div{
    border-radius: 10px;
}

.projectsTechnologies{
    margin-top: 5%;
}

.iconContainer>svg{
    color: #cfcf29;
}

.projectCard button:hover{
    background-color: #213555;
    color: white;
}
.projectCard button{
    background-color: #3E5879;
    color: white;
}

.projectCard .iconContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.cornerIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    padding: 4px;
    color: #F5EFE7;
}
